<suite name="Lenoxo suite">
    <test thread-count="5"
          name="Lenoxo app">`
        <parameter name="os" value="SauceLabAndroid"/>
        <listeners>
        <listener
                class-name="listeners.ExtentTestNGIReporterListener" />
      </listeners>
        <packages>
            <package name="tests.testngTests"/>
        </packages>
    </test>
</suite>
